body {
    background-color: #ccffff;
}

#wrapper {
    margin: auto;
    height: 900px;
    width: 900px;
}

#Title {
    text-font: Ariel;
    text-align: center;
    font-size: 30px;
}

#Buttons {
    text-align: center;
    margin-bottom: 10px;
}

.square {
/*    display: table-cell;*/
    float: left;
    vertical-align: middle;    
    background-color: white;
    outline: solid black 1px;
}