body {
    background-color: #ccffff;
}

#wrapper {
    margin: auto;
    height: 850px;
    width: 850px;
}

#Title {
    text-align: center;
    font-size: 30px;
    margin-bottom: 10px;
}

#Buttons {
    text-align: center;
    margin-bottom: 10px;
}

#Footer {
    bottom: 0;
    margin-top: 15px;
    margin-bottom: 5px;
    text-align: center;
    font-size: 20px;
}

#repo {
    font-size: 15px;
    margin-top: 10px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.square {
    float: left;
    vertical-align: middle;    
    background-color: white;
    outline: solid black 1px;
}